In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\shiva\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\shiva\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shiva\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shiva\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shiva\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\shiva\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd

pandas works on basically 3 data frames
1. Series(1D), rows,
2. Data Frames (2D), rows and columns
3. 3 Panel(3D)

* Pandas objects can be thought of as improved versions of NumPy structured arrays at the fundamental level in which the rows and columns are recognized with labels instead of simple integer indices

In [12]:
import numpy as np

In [44]:
a = [1,2,3,4,5]
b = ("one","two","three","four","five")
x = pd.Series(a,index = b,dtype = float)
y = pd.Series(b,index = a, dtype = str)
print(y)
print(x)
print(x.values,y.values)
# value and index can be tuple , list , ...

1      one
2      two
3    three
4     four
5     five
dtype: object
one      1.0
two      2.0
three    3.0
four     4.0
five     5.0
dtype: float64
[1. 2. 3. 4. 5.] ['one' 'two' 'three' 'four' 'five']

In [36]:
print(y[1])
print(x["three"])

one
3.0

* The pandas Series is much more general as well as flexible as fcompared to 1-D NumPy array that it emulates
*               Series as generalized NumPy array
* the Series object is basically interchangeble with a 1-D NumPy array
* The Significant difference is the presence of the index: whereas the NumPy Array has an implicitly defined integer index used in order to obtain the values, the Pandas Series has a clead-cut defined index associated with the values
* If no index is given in pandas series it will automatically take defaul series values
* Index need not be necessarly integer it can be anything i.e string.

In [56]:
y = pd.Series([56,43,54,42,32],index = ["shivansh","aditya","saurabh","sumit","amit"],dtype = int)
print(y)

shivansh    56
aditya      43
saurabh     54
sumit       42
amit        32
dtype: int32

#  creating series from dictionary
Series as specialized dictionary. A dictionary is a structure which maps arbitrary jkey to a collection of arbitarary values as well as a Series is a structure which maps typed keys to a set of typed values
This typing is significant: just as the type-specific compiled compiled code behind a Numpy array makes it more well-irganized than a Python list for certain oiperations.

* Note: values are used by default as series elements & keys as index Dictionary is a mapping data type, We cannot manupulate index in as we do in case o flist and tuples

In [72]:
age = {"ram":32,"shivansh":19,"satyam":18,"om":18}
s = pd.Series(age, index = ["ram","shivansh","satyam","om"],dtype = int)
print(age)
print(s)
t = pd.Series(age)
print(t)
z = pd.Series(age, index = ["ram","shivansh","satyam","om","saurabh"],dtype = int)
print(z)  ## missing values is filled by NAN adn index taken by keys

{'ram': 32, 'shivansh': 19, 'satyam': 18, 'om': 18}
ram         32
shivansh    19
satyam      18
om          18
dtype: int32
ram         32
shivansh    19
satyam      18
om          18
dtype: int64
ram         32.0
shivansh    19.0
satyam      18.0
om          18.0
saurabh      NaN
dtype: float64

In [76]:
print(z['ram':'satyam'])
print(z['ram':])
print(z[:'satyam'])

ram         32.0
shivansh    19.0
satyam      18.0
dtype: float64
ram         32.0
shivansh    19.0
satyam      18.0
om          18.0
saurabh      NaN
dtype: float64
ram         32.0
shivansh    19.0
satyam      18.0
dtype: float64

In [78]:
# if there is no match it will return NAN
age = {"ram":32,"shivansh":19,"satyam":18,"om":18}
a1 = pd.Series(age,index = ["ashwani","rohit","nikhil"])
print(a1)

ashwani   NaN
rohit     NaN
nikhil    NaN
dtype: float64

*  note: Missing value is filled by NAN & index takn by keys

In [94]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 30, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

    Name  Age         City
0   John   25     New York
1  Alice   30  Los Angeles
2    Bob   22      Chicago

In [96]:
import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob', 'Sara'],
    'Age': [25, 30, 22, 27],
    'City': ['New York', 'Los Angeles', 'Chicago', 'San Francisco']
}
df = pd.DataFrame(data)

# Filter by Age
filtered_df = df[df['Age'] > 25]
print(filtered_df)

    Name  Age           City
1  Alice   30    Los Angeles
3   Sara   27  San Francisco

In [98]:
import pandas as pd

data1 = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 30, 22]
}
data2 = {
    'Name': ['John', 'Alice', 'Bob'],
    'City': ['New York', 'Los Angeles', 'Chicago']}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge on 'Name' column
merged_df = pd.merge(df1, df2, on='Name')
print(merged_df)

    Name  Age         City
0   John   25     New York
1  Alice   30  Los Angeles
2    Bob   22      Chicago